---
{% for configlet in ansible_facts['configlets'] %}
{% if 'shared_' in configlet['name'] %}
'{{configlet["name"]}}':
   config: "{{ configlet['config'] | replace('\n', '\\n')}}"
   last_changed: {{configlet['dateTimeInLongFormat']}}
   devices: {{configlet['devices'] | replace("u'", "'")}}
   containers: {{configlet['containers'] | replace("u'", "'")}}
{% endif %}
{% endfor %}
